In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import random
from sklearn.preprocessing import StandardScaler  #standardize our data
from sklearn.model_selection import train_test_split  #split into training and testing data
from sklearn import svm    #svm means support vector machine
from sklearn.metrics import accuracy_score

In [3]:
#Data Collection and Analysis
df=pd.read_csv("C:\\Users\\KIIT\\Downloads\\diabetes.csv")

In [5]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [6]:
                 #DataSet of Females
#total pregnancies 
#glucose level
#blood pressure values
#skin thickness means fat stored in triceps or not
#insulin level
#BMI index
#DiabetesPedigreeFunction means some diabetic values
#Age
#Outcome 1 means yes ,0 means not diabetic

In [8]:
df.shape  #total 768 rows and 9 columns

(768, 9)

In [9]:
df.describe()  #mean,median,count,std,var etc

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [11]:
df.isnull().count() #no NULL values

Pregnancies                 768
Glucose                     768
BloodPressure               768
SkinThickness               768
Insulin                     768
BMI                         768
DiabetesPedigreeFunction    768
Age                         768
Outcome                     768
dtype: int64

In [12]:
df['Outcome'].value_counts()   #268 having diabetes and 500 have no diabetes

0    500
1    268
Name: Outcome, dtype: int64

In [13]:
df.groupby("Outcome").mean() #mean value of all Columns of Outcome 0,1

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [14]:
#seprating data and Tables
X=df.drop(columns='Outcome',axis=1)  #dropping outcome
Y=df['Outcome']  #stroing dropped Outcome in Y

In [16]:
X
#outcome dropped

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [17]:
Y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [18]:
#Standardizing Data
scaler=StandardScaler()  #it will create a range of data

In [21]:
scaler.fit(X)

StandardScaler()

In [22]:
sd_data=scaler.transform(X)

In [23]:
sd_data

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.73518964,
        -0.68519336, -0.27575966],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.20212881,
        -0.47378505, -0.87137393]])

In [24]:
X=sd_data   #storing sd_data in X, it represents data
Y=df['Outcome']  #y represents model

In [25]:
X

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.73518964,
        -0.68519336, -0.27575966],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.20212881,
        -0.47378505, -0.87137393]])

In [26]:
Y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [28]:
#splitting into training and testing data
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.15,stratify=Y,random_state=2)

In [30]:
X.shape

(768, 8)

In [31]:
X_train.shape   #652 data will be trained

(652, 8)

In [33]:
X_test.shape  #116 will be tested

(116, 8)

In [35]:
#Training the model
cls=svm.SVC(kernel='linear')          #enabling support vector machine

In [36]:
#Training the support vector machine
cls.fit(X_train,Y_train)

SVC(kernel='linear')

In [39]:
#Evaluating our model
X_train_pred=cls.predict(X_train)  #predictions made by the model get stored in this variable
X_train_acc=accuracy_score(X_train_pred,Y_train) #findng accuracy score

In [41]:
print("Accuracy Score of Training Data: ",X_train_acc)
#out of 100%, our model is predicting 78% accurate result

Accuracy Score of Training Data:  0.7852760736196319

In [42]:
#Finding Accuracy Score of test data
X_test_pred=cls.predict(X_test)  #predictions made by the model get stored in this variable
X_test_acc=accuracy_score(X_test_pred,Y_test)

In [43]:
print("Accuracy Score of Training Data: ",X_test_acc) #accuracy score is 76%
#model is not overtrained, here trin-test ratio is very close, so their is no overfitting 
#overfir- train is high, test is low

Accuracy Score of Training Data:  0.7672413793103449

In [47]:
#creating a predictive system
input_data=(4,110,92,0,0,37.6,0.191,30)   #input data here

#changing input_data tuple into numpy array
ip_data_np=np.asarray(input_data)   #np.asaray will change dataset into numpy array
ip_data_reshape=ip_data_np.reshape(1,-1)

#standardize input data
std_data=scaler.transform(ip_data_reshape)
print(std_data)
prediction=cls.predict(std_data)
print(prediction)

if (prediction[0]==0):
    print("The Person is not Diabetic")
else:
    print("The Person is Diabetic")  #final output

[[ 0.04601433 -0.34096773  1.18359575 -1.28821221 -0.69289057  0.71168975
  -0.84827977 -0.27575966]]
[0]
The Person is not Diabetic

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(